html, body {
  margin:0;
}

.card {
  background-color: antiquewhite;
  border: 1px solid hsl(0, 0%, 80%);
  border-radius: 10px;
  box-shadow: 5px 5px 5px hsla(0, 0%, 35%, 0.5);
  padding: 20px;
  margin: 10px;
  text-align: center;
  max-width: 200px;
  display: inline-block;
}

.card .card-image {
  max-width: 60%;
  height: auto;
  border-radius: 5%;
  margin-bottom: 10px;
  box-shadow: 5px 5px 5px hsla(0, 0, 20%, .5);
}

.card .card-title {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  color: hsl(281, 93%, 38%);
}

.card .card-text {
  font-family: Arial, sans-serif;
  color: hsl(281, 93%, 38%);
}

.welcome-message {
  font-size: 32px;
  background-color: hsl(240, 95%, 67%);
  color: hsl(0, 0%, 100%);
  padding: 10px;
  border-radius: 5px;
  margin: 10px;
}

.login-message {
  font-size: 32px;
  background-color: hsl(6, 90%, 55%);
  color: hsl(0, 0%, 100%);
  padding: 10px;
  border-radius: 5px;
  margin: 10px;
}

.counter-container {
  max-width: 500px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.counter {
  font-size: 30px;
  margin-top: 20px;

  align-self: center;
}

.banner {
  width: 100%; /* Full width of the screen */
  height: auto; /* Let the content inside dictate height */
  max-height: 250px; /* Limit the maximum height */
  overflow: hidden; /* Ensure content doesn't overflow */
  display: flex; /* Align the image inside */
  justify-content: center; /* Center the image horizontally */
  align-items: center; /* Center the image vertically if needed */
  background-color: hsl(0, 0%, 95%); /* Optional background */
}
.banner-image {
  width: 100%; /* Scale the image to fit the width of the div */
  height: auto; /* Maintain aspect ratio */
  object-fit: cover; /* Ensure the image covers the area */
  max-height: auto; /* Limit the height to 100px */
}

.top-image-right{
  position: absolute;
  box-shadow: 0px 5px 5px hsla(0, 0%, 0%, 0.2);
  right: 100px;
  top: 275px;
  display: flex;
}
.side-image-right {
  position: absolute;
  box-shadow: 0px 5px 5px hsla(0, 0%, 0%, 0.2);
  right: 100px;
  top: 45%;
  display: flex;
}
.side-image-left {
  width: 100px;
  height: 100px;
  position: absolute;
  object-fit: contain; /* Maintain the aspect ratio */
  box-shadow: 0px 4px 8px hsla(0, 0%, 0%, 0.2); /* Add some depth */
  top: 35%;
  left: 100px;
  display: flex;
}

/* Position the images */
.image-top {
  width: 100px;
  height: auto;
  object-fit: cover;
}

.image-right {
  width: 100px;
  height: auto;
  object-fit: cover;
}

.image-left {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.to-do-list {
  max-width: auto;
  max-height: auto;
  background-color: hsl(120, 50%, 90%); /* Light green for the background */
  border: 2px solid hsl(0, 70%, 50%); /* Bright red for the border */
  border-radius: 10px;
  box-shadow: 5px 5px 10px hsla(0, 0%, 0%, 0.4);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 40px;
  margin: 10px;
  color: hsl(0, 70%, 50%); /* Bright red for the title */
}

.to-do-input {
  width: 50%;
  height: 15px;
  padding: 10px;
  font-size: 16px;
  margin-bottom: 10px;
  outline: none;
  border: 1px solid hsl(120, 40%, 50%); /* Dark green for the border */
  box-shadow: 2px 2px hsla(120, 30%, 40%, 0.4);
  transition: border-color 0.2s, box-shadow 0.2s;
  background-color: hsl(120, 50%, 97%); /* Very light green for the background */
}

.to-do-input:hover {
  border-color: hsl(0, 70%, 50%); /* Bright red on hover */
}

.task-list{
  padding: 0px;
  list-style-type: none;
}

.task-list li {
  font: Arial, Sans-Serif;
  font-weight: bold;
  font-size: 25px;
  padding: 5px;
  margin-bottom: 10px;
  color: hsl(0, 0%, 20%); /* Dark gray for the text */
  background-color: hsl(120, 44%, 68%);
  display: flex;
  align-items: center;
}

.text {
  flex: 1;
}

.add-text {
  width: 100px;
  height: 35px;
  padding: 5px;
  font-size: 16px;
  margin-top: 5px;
  border: none;
  background-color: hsl(0, 70%, 50%); /* Bright red */
  color: white; /* White text */
  border-radius: 5px;
  transition: transform 0.3s ease-in-out, background-color 0.2s ease;
}

.add-text:hover {
  transform: scale(1.1);
  background-color: hsl(120, 40%, 50%); /* Dark green on hover */
}

.delete-button {
  width: auto;
  height: auto;
  padding: 3px;
  font-size: 12px;
  margin: 5px;
  margin-left: 10px;
  border: none;
  background-color: hsl(0, 70%, 50%); /* Bright red */
  color: white;
  border-radius: 5px;
  transition: transform 0.3s ease-in-out, background-color 0.2s ease;
}

.delete-button:hover {
  transform: scale(1.1);
  background-color: hsl(43, 80%, 60%); /* Gold on hover */
}

.up-button {
  width: auto;
  height: auto;
  padding: 3px;
  font-size: 12px;
  margin: 5px;
  border: none;
  background-color: hsl(120, 40%, 50%); /* Dark green */
  color: white;
  border-radius: 5px;
  transition: transform 0.3s ease-in-out, background-color 0.2s ease;
}

.up-button:hover {
  transform: scale(1.1);
  background-color: hsl(43, 80%, 60%); /* Gold on hover */
}

.down-button {
  width: auto;
  height: auto;
  padding: 3px;
  font-size: 12px;
  margin: 5px;
  border: none;
  background-color: hsl(120, 40%, 50%); /* Dark green */
  color: white;
  border-radius: 5px;
  transition: transform 0.3s ease-in-out, background-color 0.2s ease;
}

.down-button:hover {
  transform: scale(1.1);
  background-color: hsl(43, 80%, 60%); /* Gold on hover */
}

/* ----------------- MyRef.tsx ----------------*/


.time-container {
  min-height: 100vh;
  display:flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  z-index: -1;
  background-color: hsl(29, 19%, 30%);
}

.time {
  color: white;
  font-size: 6rem;
  font-weight: bold;
  font: monospace;
  padding: 20px;
  margin: 0;
  backdrop-filter: blur(5px);
  z-index: 1;
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
  filter: brightness(75%);
}
